@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Poppins:wght@200&family=Unbounded&display=swap');


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Unbounded', 'Nunito',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
